* {
    margin: 0;
    padding: 0;
}

.logo img {
    max-height: 70px;
    max-width: 70px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: white;
    border-bottom: 1px solid black;
}

.navlinks{
    display: flex;
    gap: 25px;
}

.navlinks a {
    text-decoration: none;
    color: black;
    padding: 10px;
}

header {
    display: flex;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
}

.banner {
    height: 500px;
    background-image: url(../img/gems4.jpg);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    background-color: black;
    display: flex;
    align-items: center;
    padding-left: 10%;
    color: white;
  }